<!DOCTYPE html>
<html>
<head>
    <title>Логин админа</title>
</head>
<body>
    <h1>Логин админа</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST">
        <label>Логин:</label><br>
        <input type="text" name="username" required><br>
        <label>Пароль:</label><br>
        <input type="password" name="password" required><br><br>
        <input type="submit" value="Войти">
    </form>
</body>
</html>