<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST">
        <label>Фамилия:</label><br>
        <input type="text" name="surname" required><br>
        <label>Комната:</label><br>
        <input type="text" name="room" required><br><br>
        <input type="submit" value="Зарегистрироваться">
    </form>
</body>
</html>